[Unit]
Description=unclutter

[Service]
Type=simple
Environment=DISPLAY=:0
ExecStart=/usr/bin/unclutter -idle 0.01 -root
Restart=always
RestartSec=2s

[Install]
WantedBy=graphical-session.target
